/* Responsive */

.mobile__menu--btn {
    width: 50px;
    height: 50px;
    color: var(--color-white-text);
    display: none;
}

.mobile__menu-nav-list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background: var(--color-white-text);
    z-index: 1000;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.3s;
    width: 100vw;
    height: 100vh;
}

.mobile__menu-nav-item {
    padding-top: 24px;
    padding-left: 20px;
    list-style: none;
}

.mobile__menu-nav-item .icon-menu {
    font-size: 25px;
    color: var(--color-secondary);
    width: 35px;
    height: 35px;
}

.mobile__menu-nav-item .icon-dropdown {
    font-size: 10px;
}

.mobile__menu-nav-link {
    text-decoration: none;
    color: var(--color-black-text);
    display: block;
    padding: 8px 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.mobile__menu--close {
    color: var(--color-secondary);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
}

.mobile__menu--close i {
    font-size: 1.4rem;
}


/* Click icon bar */

.mobile__input:checked~#overlay {
    display: block !important;
}

.mobile__input:checked~.mobile__menu-nav-list {
    transform: translateX(0%);
    opacity: 1;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Mobile nav dropdown */

.mobile__menu .dropdown-menu {
    list-style-type: none;
    margin-left: 20px;
    background: var(--bg-body);
    border-left: 3px solid var(--color-secondary);
}

.mobile__menu .dropdown-menu li {
    padding: 6px 0;
}

.mobile__menu .dropdown-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 25px;
    font-weight: 400;
}

.mobile__menu-logo {
    display: none;
}


/* Tablet */

@media (max-width: 1023px) {
    .app {
        width: 100%;
    }
    .container {
        margin: 0;
    }
    .mobile__menu-logo {
        width: 200px;
        padding: 15px 50px;
        display: block;
    }
    .mobile__menu-logo .logo {
        width: 120px;
        object-fit: cover;
    }
    .mobile__menu--btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 5%;
    }
    .mobile__menu--btn i {
        font-size: 30px;
    }
    .navbar {
        display: none;
    }
    .dropdown-menu {
        display: none;
    }
    .banner {
        display: block;
        margin-top: 50px;
    }
    .banner .banner__left {
        width: 100%;
        padding: 0px 50px;
    }
    .banner__left .banner__left-title {
        width: 100%;
    }
    .banner__left-desc-1,
    .banner__left-desc-2 {
        width: 100%;
    }
    .banner .banner__right {
        width: 100%;
        text-align: center;
    }
    .banner .banner__right img {
        width: 630px;
        object-fit: cover;
    }
    .banner__center {
        text-align: center;
        position: absolute;
        top: 25%;
        left: 8%;
    }
    .custumer__img {
        padding: 30px 0;
        padding-left: 50px;
    }
    .custumer__img img {
        width: 100px;
    }
    .sla__service-item .sla__service-list-title {
        font-size: 16px;
    }
    .sla__service-item .sla__service-list-desc {
        font-size: 14px;
    }
    .package__group {
        display: block;
    }
    .package__item {
        margin-bottom: 30px;
    }
    .package__group-line img {
        position: absolute;
        left: 48%;
        top: -15px;
        width: 30px;
        background: var(--color-white-text);
    }
    .package__group-btn--register {
        position: absolute;
        left: 40%;
        top: -15px;
        padding: 0 5px;
        text-decoration: none;
        background: var(--color-white-text);
    }
    .product__title {
        font-size: 18px;
    }
    .product__category-item {
        width: 170px;
        height: 170px;
    }
    .product__category {
        margin: 50px 35px;
        position: absolute;
        top: -10%;
    }
    .product__category-item label a {
        font-size: 11px;
    }
    .product__category-item-img {
        width: 100px;
        height: 100px;
        padding: 10px;
    }
    .product__category-item-img img {
        width: 70px;
    }
    .product__group-list-row {
        display: block;
    }
    .product__group-list-column {
        margin-bottom: 30px;
    }
    .product__desc-detail-container {
        display: block;
    }
    .box__left {
        width: 100%;
        display: block;
    }
    .product__desc-detail-img {
        width: 100%;
        height: 550px;
        margin-left: 20%;
    }

    .product__desc-detail-img .product__btn-view {
        display: none;
    }

    .product__btn-view-mobile {
        display: block;
        margin-top: 20px;
        text-align: center;
    }

    .product__desc-detail-content {
        flex: none;
        /* padding-top: 500px; */
        width: 100%;
    }

    .product__sidebar-recently-viewed {
        display: none;
    }

    .box__right {
        border-left: 0px;
        height: 40vh;
    }

    .product__like {
        display: grid;
        grid-template-columns: 300px 300px;
    }

    .col-mb {
        width: 100%;
    }

    .product__page-check-out{
        height: 60vh;
    }


    .product__page-check-out .box__left {
        width: 100%;
    }

    .product__page-check-out .box__left form .input__group {
        display: block;
    }

    .product__page-check-out .box__right{
        width: 100%;
        border: 0;
    }


    .footer__container {
        display: block;
        margin: 0;
        padding: 50px;
    }
    .footer__info {
        width: 100%;
        margin-top: 10px;
    }
    .footer__group {
        width: 100%;
    }
    .footer__title {
        font-size: 15px;
    }
    .footer__form-title {
        font-size: 15px;
    }
    .footer__item-desc p {
        font-size: 14px;
    }
    .footer__item-desc .footer__item-desc-link {
        font-size: 14px;
    }
}


/* Mobile */

@media (max-width:740px) {
    .app {
        width: 100%;
    }
    .container {
        margin: 0;
    }
    .login__form {
        max-width: 250px;
    }
    .mobile__menu-logo {
        width: 200px;
        padding: 15px 50px;
        display: block;
    }
    .mobile__menu-logo .logo {
        width: 120px;
        object-fit: cover;
    }
    .mobile__menu--btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 5%;
    }
    .mobile__menu--btn i {
        font-size: 30px;
    }
    .mobile__menu-nav-item {
        padding-top: 24px;
        padding-left: 50px;
        list-style: none;
    }
    .navbar {
        display: none;
    }
    .dropdown-menu {
        display: none;
    }
    .banner {
        display: block;
        margin-top: 50px;
    }
    .banner .banner__left {
        width: 100%;
        padding: 0px 50px;
    }
    .banner__left .banner__left-title {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .banner__left-desc-1,
    .banner__left-desc-2 {
        width: 100%;
    }
    .banner .banner__right {
        width: 100%;
        text-align: center;
    }
    .banner .banner__right img {
        width: 330px;
        object-fit: cover;
    }
    .banner__left-form .input-email {
        width: 68%;
    }
    .banner__left-form button {
        position: absolute;
        top: 0;
        right: 0%;
    }
    .banner__center-form form button {
        position: absolute;
        top: 120%;
        right: 35%;
    }
    .header .info {
        display: block;
        padding-bottom: 10px;
    }
    .custumer__img {
        display: none;
    }
    .custumer__img-mobile {
        display: grid;
        grid-template-columns: 8ch auto;
        margin-left: 90px;
    }
    .custumer__img-mobile img {
        width: 100px;
    }
    .sla__service-list {
        display: block;
    }
    .sla__service-item:not(:nth-child(1)) {
        margin-top: 10px;
    }
    .sla__service-item .sla__service-list-title {
        font-size: 16px;
    }
    .sla__service-item .sla__service-list-desc {
        font-size: 14px;
    }
    .package__group {
        display: block;
    }
    .package__item {
        margin-bottom: 30px;
    }
    .package__group-basic,
    .package__group-popular,
    .package__group-special {
        padding: 20px;
        min-width: 285px;
    }
    .package__group-line img {
        position: absolute;
        left: 45%;
        top: -15px;
        width: 30px;
        background: var(--color-white-text);
    }
    .package__group-btn--register {
        position: absolute;
        left: 20%;
        top: -15px;
        padding: 0 5px;
        text-decoration: none;
        background: var(--color-white-text);
    }
    .working__process-title,
    .sla__service-title {
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }
    
    .product__desc-detail-img {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .gallery .full {
        width: 255px;
        font-size: 12px;
        height: 500px;
        margin-bottom: 30px;
    }
    
    .product__desc-detail-img .product__btn-view {
        display: none;
    }

    .product__btn-view-mobile {
        display: block;
    }

    .product__desc-detail-content {
        flex: none;
        /* padding-top: 500px; */
        width: 100%;
    }
    .product__desc-detail-content-short img {
        position: absolute;
        width: 70px;
        bottom: 40px;
        right: 10px;
    }
    .product__title {
        font-size: 18px;
        text-align: center;
        padding-bottom: 0px;
    }
    .product__category {
        margin: 30px 50px;
        display: grid;
        position: unset;
    }
    .product__category-item:not(:nth-child(4)) {
        border-right: none;
    }
    .product__group-title {
        padding-top: 50px;
    }
    .box__right {
        border-left: 0px;
        height: 60vh;
    }
    .product__sidebar {
        padding: 50px 0px;
    }

    /* .product__desc-detail-contents {
        margin-top: 370px;
    } */

    .product__desc-detail-content-long .box__img img {
        width: 250px;
    }
    .order__list .order__list-number,
    .order__list .order__list-name {
        font-size: 14px;
    }
    .btn--delete {
        width: 15px;
        height: 15px;
        font-size: 10px;
    }

    .product__like {
        display: block;
    }

    .col-mb {
        width: 100%;
        margin-bottom: 20px;
    }

    .product__page-check-out{
        height: 80vh;
    }

    .footer__container {
        display: block;
        margin: 0;
        padding: 50px;
    }
    .footer__info {
        width: 100%;
        margin-top: 10px;
    }
    .footer__group {
        width: 100%;
    }
    .footer__list {
        display: block;
        margin: 0;
    }
    .footer__title {
        font-size: 15px;
    }
    .footer__form-title {
        font-size: 15px;
    }
    .footer__item-desc p {
        font-size: 14px;
    }
    .footer__item-desc .footer__item-desc-link {
        font-size: 14px;
    }
    .footer__slogan {
        margin: 0;
    }
}